<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <title>Edita Pefil</title>
        <meta charset="UTF-8">
        <!-- <link href="/css/inicio.css" rel="stylesheet" type="text/css"/> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/css/fondos.css" rel="stylesheet" type="text/css"/>
        <a ></a>
    </head>
    <body>
        <div class="container-fluid colorB">
        <header th:fragment="header">
            <h1 class="lead text-center font">Asesoria y Cotizaciones PADAZU </h1>
            <nav class="navbar navbar-expand-lg navbar-light colorB">
              <div class="container-fluid navbar-nav">
                    <a class="nav-link colorBtn font2" th:href="@{/}">Inicio |</a>
                    <a class="nav-link colorBtn font2" th:href="@{/}">Consulta o Cotiza |</a>
                    <a class="nav-link colorBtn font2" th:href="@{/asesoria/informacionTransportes}">Informacion |</a>
                    <a class="nav-link colorBtn font2" th:href="@{/usuario/loginUsuario}">Login |</a>
              </div>

            </nav>
        </header>
        </div>
        <!-- footer th:replace="plantillas/Plantilla1Fondo :: footer"/> -->
    </body>
   
</html>