<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <title>Asesoria PADAZU</title>
        <meta charset="UTF-8">
        <!-- <link href="/css/inicio.css" rel="stylesheet" type="text/css"/> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/css/fondos.css" rel="stylesheet" type="text/css"/>
        <a ></a>
    </head>
    <body>
        <div class="container-fluid colorB">
        <header th:fragment="header">
            <h1 class="lead text-center font">Asesoria y Cotizaciones PADAZU </h1>
            <nav class="navbar navbar-expand-lg navbar-light colorB">
              <div class="container-fluid navbar-nav">
                    <a class="nav-link colorBtn font2" th:href="@{/cotizar/cotizarInf}">Informacion cotizar|</a>
                    <a class="nav-link colorBtn font2" th:href="@{/}">Atras |</a>
              </div>
            </nav>
        </header>   
        </div>
            <nav>
              <div class="container-xl">
              <div class="row">
                  <div class=" col-xl" style=" background-color: #2388da" >
                  <img src="/imagenes/Fondo.png" width="3000" height="269.6" alt="..."> 
                  <p class="font3" >Somos el mejor servicio online de cotizaciones y comparacion de empresas!</p>
                </div>
                </div>   
              </div>
            </nav>
           </br></br></br></br></br>
          <center><p class="font2"> Datos de Usuario</p></center>
           </br></br>
           <section>
               <div class="container" style="width: 500px" >
                  <center><form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Correo electronico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                       <div id="emailHelp" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div></br>
                        <button type="submit" class="btn btn-primary">Ingresar</button></br></br>
                        <button type="submit" class="btn btn-danger">Crear Usuario Nuevo</button>
                  </form></center> 
              </div>
              </br></br></br></br></br>
             <div class="container-xl ">
                      <div class="row">
                        <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4" >
                            </br>
                              <center><div class=" card shadow-lg p-3 mb-5" style="width: 25rem;">
                                  <img src="/imagenes/CN.png" class="card-img-top rounded" alt="...">
                                  
                                  <div class="card-body">
                                    <h5 class="card-title">CN</h5>
                                    <p class="card-text">A Leading North American Transportation and Logistics Company.</p>
                                    <a href="https://www.cn.ca/en/" class="btn btn-danger">CN sitio web</a>
                                  </div>
                              </div></center> 
                            </br>
                        </div>
                        <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">
                            </br>
                              <center><div class="card " style="width: 25rem;">
                                  <img src="/imagenes/UPS.jpg" class="card-img-top rounded" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">United Parcel Service </h5>
                                    <p class="card-text">Moving our world forward by delivering what matters.</p>
                                    <a href="https://www.deutschepost.de/sendung/simpleQuery.html?locale=en_GB" class="btn btn-danger">United Parcel Service web</a>
                                  </div>
                              </div></center>
                            </br>
                      </div>
                      <div class="col-sm-8 col-md-4 col-lg-4 col-xl-4">
                          </br>
                              <center><div class="card " style="width: 25rem;">
                                  <img src="/imagenes/Deutsche Post.jpg" class="card-img-top rounded" alt="...">
                                  <div class="card-body">
                                    <h5 class="card-title">Deutsche Post</h5>
                                    <p class="card-text">Deutsche Post delivers mail and parcel in Germany and the world. It is an expert provider of dialogue marketing and press distribution services</p>
                                    <a href="https://www.deutschepost.de/sendung/simpleQuery.html?locale=en_GB" class="btn btn-danger">Deutsche Post web</a>
                                  </div>
                              </div></center> 
                          </br>
                      </div>
                  </div>
              </div>           
           </section>
          

</body>   
</html>