
<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link href="/css/inicio.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

      <footer th:fragment="footer" class="footer"> 
          <hr/> <img src="imagenes/facebook.png" alt="face" width="22"/> <img src="imagenes/insta.png" alt="insta" width="21"/> <img src="imagenes/whatsapp.png" alt="wsp" width="18"/> Derechos reservados &COPY; 2022<address style="display: inline" > Tel 8898-7744 </address> 
      </footer>  
        
    </body>
</html>
