
<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <title>Asesoria PADAZU</title>
        <meta charset="UTF-8">
        <link href="/css/inicio.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
         <header th:fragment="header"class="header">
         <nav class="nav">  
             <a th:href="@{/}" class="logo nav-link">Asesoria y Cotizaciones PADAZU</a>
         <ul class="nav-menu" >
         <li class="nav-menu-item">
             <a class = "nav-menu-link nav-link2"  th:href="@{/cliente/listado}">Clientes|</a>
         </li>     
        </ul> 
        </nav>
        </header>
        
        
        
      <footer th:fragment="footer" class="footer"> 
          <hr/> <img src="imagenes/facebook.png" alt="face" width="22"/> <img src="imagenes/insta.png" alt="insta" width="21"/> <img src="imagenes/whatsapp.png" alt="wsp" width="18"/> Derechos reservados &COPY; 2022<address style="display: inline" > Tel 8898-7744 </address> 
      </footer>  
        
    </body>
</html>
