


.cotizar-unidades{
    display: flex;
    justify-content: space-between;  
}
.cotizar-unidades buttom, .cotizar-unidades input{
flex-grow: 0.45;
background-color: #ffffff;
border: solid 1px #666666;
text-align: center;    
}
.form-height {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.form-height .form-radio {
    width: 23rem;
    height: 44px;
    position: relative;
}
.form-height .form-radio input {
    right:0;
    position: absolute;
    border: 0px;
    width: 100%;
    height: 2em;
}
.form-height .form-radio label{
    line-height: 45px;
    font-weight: normal;
}
.tiny-text {
    font-size: 1.4rem;
    margin: 0 3px;
    
}
.total-topay {
    text-align: center;
    
}
.total-topay h2 {
    width: 100%;
    border-bottom: 1px solid #666666;
}