<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <title>Transporte Aereo</title>
        <meta charset="UTF-8">
        <!-- <link href="/css/inicio.css" rel="stylesheet" type="text/css"/> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/css/fondos.css" rel="stylesheet" type="text/css"/>
        <a ></a>
    </head>
    <body>
        <div class="container-fluid colorB">
        <header th:fragment="header">
            <h1 class="lead text-center font">Asesoria y Cotizaciones PADAZU </h1>
            <nav class="navbar navbar-expand-lg navbar-light colorB">
              <div class="container-fluid navbar-nav">
                    <a class="nav-link colorBtn font2" th:href="@{/}">Inicio |</a>
                    <a class="nav-link colorBtn font2" th:href="@{/cotizar/cotizarInf}">Asesorias Aduaneras y cotizaciones |</a>
                    <a class="nav-link colorBtn font2" th:href="@{/asesoria/informacionTransportes}">Atras |</a>
              </div>

            </nav>
        </header>
        </div>
            <nav>
              <div class="container-xl">
                <div class="row">
                  <div class=" col-xl" style=" background-color: #2388da" >
                  <img src="/imagenes/Fondo.png" width="3000" height="269.6" alt="..."> 
                  <p class="font3" >Somos el mejor servicio online de cotizaciones y comparacion de empresas!</p>
                </div>
                </div>   
              </div>
            </nav>
        </br></br></br></br></br>
        <section>
            <center><h2 font3>Informacion de Transporte Aereo</h2></center></br>
            <div class="clearfix MarginC">
              <img src="/imagenes/avion.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
                  <center><h2>Todo lo que necesitas saber sobre transporte Aereo</h2></center></br> 
                  <p class="font5"> 
                  El transporte aéreo es la actividad de desplazamiento que permite el traslado de personas, mercancías y correo en aeronaves.
                  Por tanto, hablamos del tipo de transporte que viaja por el aire y que se encuentra presente en aeropuertos.
                  </p>
                  <center><h2>Un poco de historia sobre el transporte Aereo</h2></center>
                  <p class="font5">
                  Su historia se remonta a 1700, con la creación del globo aerostático.
                  Este invento fue creado por los hermanos Montgolfier, y la primera demostración pública se realizó el 4 de junio de 1783 en Francia.
                  Tras este primer “prototipo”, se desarrollaron otros destinados a transportar pasajeros a través del uso de hidrógeno como principal combustible.
                  Fue el único invento capaz de surcar los cielos durante dos siglos más desde su creación. Este invento fue conocido como el “globo de pasajeros”.
                  </p>
                  <p class="font5">
                  Después, en el Siglo XX, aparecieron los hermanos Wright. 
                  Orville y Wilbur Wright fueron dos ingenieros, aviadores y pioneros de la aviación.
                  Construyeron el primer aeroplano del mundo, aunque para hacer que volase, tuvieron que crear una catapulta externa para lograr que su invento despegase.
                  A continuación, fue en 1906 cuando el inventor rumano Traiana Vuia, logró crear el primer avión autopropulsado que pudiese volar.
                  </p>
                  <p class="font5">
                  El siguiente paso en la historia de la evolución del transporte aéreo se produjo como consecuencia del desarrollo de los aviones de hélice y helicópteros de la Segunda Guerra Mundial.
                  Esto hizo que fuese durante la segunda mitad del pasado siglo cuando realmente comenzó a despegar como sector el desarrollo de las aeronaves.
                  A partir de ahí, la industria logró crear aviones tan rápidos como la velocidad del sonido.
                  De hecho, algunos de los inventos más famosos dentro de este ámbito son los famosos Concorde y Boeing 747.   
                  </p>

                        </br>
                          <center><iframe
                                  width="600"
                                  height="400"
                                  src="https://www.youtube.com/embed/G7MFbW-7I28"
                                  title="La importancia de la carga aérea en la logística"
                                  frameborder="0"
                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                  allowfullscreen>    
                          </iframe></center>
            </div>
        </section>
        <footer th:fragment="footer" class="footerCInf" style=" background-color: #2388da">
            <div class="container ">
                <div class="row">
                  <div class="col-md-8 col-sm-8 col-lg-12 col-xl-12" style=" background-color: #2388da">
                      </br>
                      <div class="CustomP">
                          <center><img src="/imagenes/footerIcon.jpg" class=" mx-auto d-block CustomP" width="150" height="100"></center>
                      </div>
                  </div>
                  <div class="col-md-8 col-sm-8 col-lg-12 col-xl-12"style=" background-color: #2388da ">
                      </br>
                      <center><div class="btn-group">
                                  <a href="https://www.facebook.com/" class="btn btn-danger">Facebook</a> 
                                  <a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZXMifQ%3D%3D%22%7D" class="btn btn-danger">Twitter</a>
                                  <a href="https://www.pinterest.es/" class="btn btn-danger">Pinterest</a> 
                              </div>
                              </br>Derechos reservados &COPY; 2022<address style="display: inline" > Tel 8898-7744 </address> 
                            </div></center>
                      </div>
                  </div>
                </div>
                  
            </div> 
        </footer>
        
    </body>
   
</html>