<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <title>Transporte Maritimo</title>
        <meta charset="UTF-8">
        <!-- <link href="/css/inicio.css" rel="stylesheet" type="text/css"/> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/css/fondos.css" rel="stylesheet" type="text/css"/>
        <a ></a>
    </head>
    <body>
        <div class="container-fluid colorB">
        <header th:fragment="header">
            <h1 class="lead text-center font">Asesoria y Cotizaciones PADAZU </h1>
            <nav class="navbar navbar-expand-lg navbar-light colorB">
              <div class="container-fluid navbar-nav">
                    <a class="nav-link colorBtn font2" th:href="@{/}">Inicio |</a>
                    <a class="nav-link colorBtn font2" th:href="@{/cotizar/cotizarInf}">Asesorias Aduaneras y cotizaciones |</a>
                    <a class="nav-link colorBtn font2" th:href="@{/asesoria/informacionTransportes}">Atras |</a>
              </div>

            </nav>
        </header>
        </div>
            <nav>
              <div class="container-xl">
                <div class="row">
                  <div class=" col-xl" style=" background-color: #2388da" >
                  <img src="/imagenes/Fondo.png" width="3000" height="269.6" alt="..."> 
                  <p class="font3" >Somos el mejor servicio online de cotizaciones y comparacion de empresas!</p>
                </div>
                </div>   
              </div>
            </nav>
        </br></br></br></br></br>
        <section>
            <center><h2 font3>Informacion de Transporte Maritimo</h2></center></br>
            <div class="clearfix MarginC">
              <img src="/imagenes/maritimo2.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
                  <center><h2>Todo lo que necesitas saber sobre transporte Maritimo</h2></center></br> 
                  <p class="font5"> 
                 Quizá te intereses de manera profesional por el mundo del transporte marítimo. 
                 Se trata de una actividad en la cual se traslada a personas o mercancías de un punto geográfico a otro. 
                 Esta actividad se realiza a bordo de una embarcación y por vía marítima.
                 Hoy en día, ante el aumento de vuelos comerciales, el transporte de personas se realiza mediante pequeñas travesías o cruceros.
                 Los buques se destinan, básicamente, a transportar mercancías por aguas internacionales. 
                 Si quieres dedicarte a este tipo de industria, echa un vistazo al Máster en Diseño en la Industria Naval.
                 Sigue leyendo porque te explicamos todo lo que necesitas saber sobre este sector.
                  </p>
                  <center><h2>Un poco de historia sobre el transporte marítimo</h2></center>
                  <p class="font5">
                  El transporte marítimo de mercancías constituye un pilar clave en la economía global.
                  Según los últimos datos, se realizan desplazamientos de unos cinco mil millones de toneladas de mercancías por el mundo.
                  Esto supone que alrededor del 80 % de mercancías se mueven a nivel mundial se realizan por mar.
                  </p>
                  <p class="font5">
                  Civilizaciones como la fenicia que, alrededor del año 1200 a. C., comerciaba entre puertos marítimos. 
                  Las habilidades de navegantes expertos de los fenicios y su rápida expansión llegaron a entrar en conflicto de intereses con la poderosa Roma.
                  </p>
                  <p class="font5">
                  El auge del transporte marítimo llega en los siglos XV al XIX. Los países más ricos se apoyan en barcos de carga para transportar por mar los recursos que extraen de sus colonias.
                  Comienzan así a surgir compañías navales de comercio y rutas internacionales que ayudan a conectar continentes.
                  En el siglo XIX gracias a los avances de la Revolución Industrial los desplazamientos se efectúan de manera más rápida y el tráfico naval aumenta. 
                  Nace así el transporte marítimo tal y como lo conoces.    
                  </p>

                        </br>
                          <center><iframe
                              width="600"
                              height="400"
                              src="https://www.youtube.com/embed/BOJ5jFpTmL0"
                              title="🔴TRANSPORTE MARÍTIMO / Ventajas y desventajas"
                              frameborder="0"
                              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                              allowfullscreen>  
                          </iframe></center>


            </div>
        </section>
    </body>
</html>