<html xmlns: th="http://www.thymeleaf.org">
    <head>
        <title>Transporte Terrestre</title>
        <meta charset="UTF-8">
        <!-- <link href="/css/inicio.css" rel="stylesheet" type="text/css"/> -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/css/fondos.css" rel="stylesheet" type="text/css"/>
        <a ></a>
    </head>
    <body>
        <div class="container-fluid colorB">
        <header th:fragment="header">
            <h1 class="lead text-center font">Asesoria y Cotizaciones PADAZU </h1>
            <nav class="navbar navbar-expand-lg navbar-light colorB">
              <div class="container-fluid navbar-nav">
                    <a class="nav-link colorBtn font2" th:href="@{/}">Inicio |</a>
                    <a class="nav-link colorBtn font2" th:href="@{/cotizar/cotizarInf}">Asesorias Aduaneras y cotizaciones |</a>
                    <a class="nav-link colorBtn font2" th:href="@{/asesoria/informacionTransportes}">Atras |</a>
              </div>

            </nav>
        </header>
        </div>
            <nav>
              <div class="container-xl">
                <div class="row">
                  <div class=" col-xl" style=" background-color: #2388da" >
                  <img src="/imagenes/Fondo.png" width="3000" height="269.6" alt="..."> 
                  <p class="font3" >Somos el mejor servicio online de cotizaciones y comparacion de empresas!</p>
                </div>
                </div>   
              </div>
            </nav>
    </br></br></br></br></br>
        <section>
            <center><h2 font3>Informacion de Transporte Terrestre</h2></center></br>
            <div class="clearfix MarginC">
              <img src="/imagenes/transporteTerrestre.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
                  <center><h2>Todo lo que necesitas saber sobre transporte Terrestre</h2></center></br> 
                  <p class="font5"> 
                  Si algo debes saber acerca del transporte de carga terrestre, es que se trata de una de las modalidades más comunes para movilizar mercancías durante procesos de exportación tanto nacional como internacional.
                  No obstante, debes tener presente que a lo largo de dichos recorridos, los productos siempre estarán expuestos a sufrir pérdidas o daños debido a diferentes riesgos ordinarios de tránsito que pueden presentarse en cualquier momento del trayecto.
                  </p>
                  <center><h2>Un poco de historia sobre el transporte Terrestre</h2></center>
                  <p class="font5">
                  Por ello, se vuelve indispensable contar con un seguro de carga que te brinde una protección certera ante estas situaciones inesperadas que, de alguna u otra manera, pueden poner en riesgo la situación financiera de tu empresa y representar pérdidas significativas.
                  </p>
                  <p class="font5">
                  Debido a este panorama, hemos escrito esta nota para contarte todo acerca del transporte de carga terrestre y lo que implica este tipo de transporte para exportar, desde su definición, sus ventajas paras la logística,
                  los riesgos ordinarios de tránsito más habituales hasta la importancia de adquirir un seguro de transporte que te garantice un respaldo efectivo para las operaciones de comercio.
                  </p>
                  </br>
                    <center><h2 font3>Transporte terrestre / Ventajas y desventajas</h2></center></br>
                        </br>
                          <center><iframe
                                  width="600"
                                  height="400"
                                  src="https://www.youtube.com/embed/8HL36iy69G0"
                                  title="🔴Transporte terrestre / Ventajas y desventajas"
                                  frameborder="0"
                                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                  allowfullscreen>  
                          </iframe></center>
            </div>
        </section>    
    </body>
   
</html>